/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/05/2014, 11:29:52 AM
    Author     : abarranco
*/
body{
    padding: 40px 40px 40px 40px;
    background-color: #ffffff;
}
#mensaje{
    border-width: 1px;
    border-style: solid;
    border-color: #E4E4E4;
    width: 500px;
}
#mensaje input:focus:active:enabled{
    display: block;
    border: 0px !important;
    box-shadow: none;
    background-color: transparent !important;
}
#mensaje input{
    outline-style: none;
    border: 0;
    width:40px;
}
jobo-ul jobo-li {
    display: inline-block;
    height: 25px;
    margin: 2px; /* Separar los li */  
    /* padding: 0 5px 0 5px; */
    background-color: #cccccc; /* Color de fondo */
    border-radius: 0 10px;
}
jobo-ul jobo-li img {
    width: 25px;
    height: 25px;
    float: left;
    border-bottom-left-radius: 8px;
}
jobo-ul jobo-li p{
    /* display: table-cell; */
    font-size: 13px;
    color: #000000;
    float: left;
    /* vertical-align: middle; */
    /* padding: 0px; */
    line-height: 19px;
    margin: 5px;
}
jobo-li:active{
    background-color: #666666;
}
jobo-ul jobo-li span{
    color:#666666;
    float: left;
    line-height: 28px;
    font-size: 11px;
    font-family: monospace;
    margin:  5px 2px 0px 5px;
}
jobo-ul jobo-li span:hover{
    color:#000000;
    cursor: pointer;
}
